section.resently-viewed
    .container
        h2.page-title Recently viewed
        .products-line-slider
            .js-resently-viewed-slider
                .products-line-slider__item
                    a.products-line-slider__link(href="#")
                        picture
                            source(type="image/webp", srcset=`static/images/content/products/DC-771/DC_771-1.webp`)
                            img.products-line-slider__img(src=`static/images/content/products/DC-771/DC_771-1.png`, alt=alt)
                        span.products-line-slider__title Dewalt DC771
                    a.btn-amazon(href="#")
                        span.btn-amazon__text See price
                        span.btn-amazon__img
                            img(src="static/images/general/amazon_icon.svg", alt="")
                .products-line-slider__item
                    a.products-line-slider__link(href="#")
                        picture
                            source(type="image/webp", srcset=`static/images/content/product/Dewalt DC771.webp`)
                            img.products-line-slider__img(src=`static/images/content/product/Dewalt DC771.png`, alt=alt)
                        span.products-line-slider__title Dewalt DC772
                    a.btn-amazon(href="#")
                        span.btn-amazon__text See price
                        span.btn-amazon__img
                            img(src="static/images/general/amazon_icon.svg", alt="")
                .products-line-slider__item
                    a.products-line-slider__link(href="#")
                        picture
                            source(type="image/webp", srcset=`static/images/content/products/DC-771/DC_771-1.webp`)
                            img.products-line-slider__img(src=`static/images/content/products/DC-771/DC_771-1.png`, alt=alt)
                        span.products-line-slider__title Dewalt DC771
                    a.btn-amazon(href="#")
                        span.btn-amazon__text See price
                        span.btn-amazon__img
                            img(src="static/images/general/amazon_icon.svg", alt="")
                .products-line-slider__item
                    a.products-line-slider__link(href="#")
                        picture
                            source(type="image/webp", srcset=`static/images/content/product/Dewalt DC771.webp`)
                            img.products-line-slider__img(src=`static/images/content/product/Dewalt DC771.png`, alt=alt)
                        span.products-line-slider__title Dewalt DC772
                    a.btn-amazon(href="#")
                        span.btn-amazon__text See price
                        span.btn-amazon__img
                            img(src="static/images/general/amazon_icon.svg", alt="")
                .products-line-slider__item
                    a.products-line-slider__link(href="#")
                        picture
                            source(type="image/webp", srcset=`static/images/content/products/DC-771/DC_771-1.webp`)
                            img.products-line-slider__img(src=`static/images/content/products/DC-771/DC_771-1.png`, alt=alt)
                        span.products-line-slider__title Dewalt DC771
                    a.btn-amazon(href="#")
                        span.btn-amazon__text See price
                        span.btn-amazon__img
                            img(src="static/images/general/amazon_icon.svg", alt="")
                .products-line-slider__item
                    a.products-line-slider__link(href="#")
                        picture
                            source(type="image/webp", srcset=`static/images/content/product/Dewalt DC771.webp`)
                            img.products-line-slider__img(src=`static/images/content/product/Dewalt DC771.png`, alt=alt)
                        span.products-line-slider__title Dewalt DC772
                    a.btn-amazon(href="#")
                        span.btn-amazon__text See price
                        span.btn-amazon__img
                            img(src="static/images/general/amazon_icon.svg", alt="")
            button.products-line-slider__btn.products-line-slider__btn--prev.js-resently-viewed-prev
                svg.slider-arrow(width='40' height='40' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                    circle.cls-1(cx='12' cy='12' r='11')
                    polyline.cls-1(points='9 15 6 12 9 9')
                    line.cls-1(x1='6' x2='18' y1='12' y2='12')
            button.products-line-slider__btn.products-line-slider__btn--next.js-resently-viewed-next
                svg.slider-arrow(width='40' height='40' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                    circle(cx='12' cy='12' r='11')
                    polyline(points='15 9 18 12 15 15')
                    line(x1='18' x2='6' y1='12' y2='12')