mixin productSliderPreview(src, alt)
	.product-slider-preview__item
		picture
			source(type="image/webp", srcset=`${src}.webp`)
			img.product-slider-preview__img(src=`${src}.png`, alt=alt)

mixin productSliderMain(src, alt)
	.product-slider-main__item
		picture
			source(type="image/webp", srcset=`${src}.webp`)
			img(src=`${src}.png`, alt=alt)

.product
	.product-content
		.product-slider
			.product-slider-preview
				.js-product-slider-preview
					+productSliderPreview("static/images/content/products/DC-771/DC_771-1", "Dewalt DC771")
					+productSliderPreview("static/images/content/products/DC-771/DC_771-2", "Dewalt DC771")
					+productSliderPreview("static/images/content/products/DC-771/DC_771-3", "Dewalt DC771")
					+productSliderPreview("static/images/content/products/DC-771/DC_771-4", "Dewalt DC771")
					+productSliderPreview("static/images/content/products/DC-771/DC_771-5", "Dewalt DC771")
					+productSliderPreview("static/images/content/products/DC-771/DC_771-6", "Dewalt DC771")
				button.product-slider-preview__btn.product-slider-preview__btn--prev
					svg.slider-arrow(width="40" height="40" viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
						circle(cx='12' cy='12' r='11')
						polyline(points='9 9 12 6 15 9')
						line(x1='12' x2='12' y1='6' y2='18')

				button.product-slider-preview__btn.product-slider-preview__btn--next
					svg.slider-arrow(width="40" height="40" viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
						circle(cx='12' cy='12' r='11')
						polyline(points='15 15 12 18 9 15')
						line(x1='12' x2='12' y1='18' y2='6')

			.product-slider-main
				+productSliderMain("static/images/content/products/DC-771/DC_771-1", "Dewalt DC771")
				+productSliderMain("static/images/content/products/DC-771/DC_771-2", "Dewalt DC771")
				+productSliderMain("static/images/content/products/DC-771/DC_771-3", "Dewalt DC771")
				+productSliderMain("static/images/content/products/DC-771/DC_771-4", "Dewalt DC771")
				+productSliderMain("static/images/content/products/DC-771/DC_771-5", "Dewalt DC771")
				+productSliderMain("static/images/content/products/DC-771/DC_771-6", "Dewalt DC771")
		.product-info
			h1.product-title Dewalt Dewalt product DC771 DC771
			.product-points
				.circular.js-circular-progress(data-percent="96")
					svg.circular-progress
						circle(r='30' cx='35' cy='35')
						circle.circular-progress__percent(r='30' cx='35' cy='35')
					span.circular-info
						span.circular-info__number
						span.circular-info__text Points
				p.product-points__text in <a class="product-points__link" href="#">Whole-House Surge Protectors</a>
			.product-info__desktop
				a.btn-amazon.mb-30(href="#")
					span.btn-amazon__text See price
					span.btn-amazon__img
						img(src="static/images/general/amazon_icon.svg", alt="")
				button.btn-add-review.js-product-compare
					span.btn-add-review__text Compare with
					span.btn-add-review__dialog
						+icon("btn-arrow-right", "btn-add-review__icon-dialog")
						span.btn-add-review__dialog-text Compare with...
		.product-info__mobile
			a.btn-amazon.mb-30(href="#")
				span.btn-amazon__text See price
				span.btn-amazon__img
					img(src="static/images/general/amazon_icon.svg", alt="")
			button.btn-add-review.js-product-compare-mobile
				span.btn-add-review__text Compare with
				span.btn-add-review__dialog
					+icon("btn-arrow-right", "btn-add-review__icon-dialog")
					span.btn-add-review__dialog-text Compare with...